body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../portfolio/image/futuristik.jpg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ccc;
    letter-spacing: 0.25rem;
    margin-right: 1rem;
}

.imagenav1, .imagenav2, .imagenav3 {
    border-radius: 360px;
    animation: slideIn 2s ease-out;
}

#btncompetences, #btnprojets, #btncontact {
    background: transparent;
    color: #0d0d0d;
    padding: 0.5rem 1rem;
    letter-spacing: 0.25rem;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #0d0d0d;
    font-size: 1.2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    animation: slideIn 5s ease-out;
}

#btncompetences:hover, #btnprojets:hover, #btncontact:hover {
    color: #ccc;
    background: #0d0d0d;
}

.principal {
    display:flex;
    justify-content: right;
}

.imageprincipal {
    border-radius: 360px;
    margin-right: 50px;
}

.titreprincipal {
    font-size: 50px;
    animation: slideIn 3s ease-out;
    margin-top: 25px;
    margin-right: 20px;
}

#fondtexteh1 {
    background: center / cover url(../portfolio/image/futuristik.jpg);
    background-clip: texte;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.espacepresentation {
    display: flex;
    justify-content: 0 auto;
    background-color: transparent;
    margin: 0 auto;
    border: 5px solid #0d0d0d;
    border-radius: 20px ;
    width: 700px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 3s ease-out;
}

.presentation {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.espacepresentation.invisible {
    opacity: 0;
}

.presentation p {
    opacity: 100% !important;
}

.sectionprincipal {
    display: inline;
    align-items: center;
}

#competences {
    display: grid;
    justify-content: column;
    background-color: transparent;
    margin: 0 auto;
    border: 5px solid #0d0d0d;
    border-radius: 20px ;
    width: 700px;
    height: 300px;
    padding-left: 150px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 3s ease;
}

#competences.visible {
    opacity: 1;
}

.devimage {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

#carouselprojets {
    display: flex;
    justify-content: top;
    width: 450px;
    height: 190px;
    border: 5px solid black;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}

#carouselprojets.visible {
    opacity: 1;
    transition: opacity 3s ease-out;
}

.carousel-item :active{
    display: flex;
    width: 200px;
    height: 100px;
}

.carousel-control-prev, .carousel-control-next {
    display: grid;
    justify-content: flex-end;
    border: 2px solid white;
}


@keyframes slideIn {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

@media screen and (max-width: 1366px) {

    .titreprincipal {
        font-size: 30px;
    }

    .imageprincipal {
        width: 80px;
        height: 80px;
        margin-top: -20px;
    }

    .presentation {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 20px 0px 20px 100px;
    text-align: center;
}
   .espacepresentation {
    display: flex;
    justify-content: center;
    background-color: transparent;
    background-color: rgba(0,0,0,0.5);
    padding-right: 20 auto;
    margin: 0 auto;
    border: 5px solid #0d0d0d;
    border-radius: 20px ;
    width: auto;
    height: auto;
}
#competences {
    display: grid;
    justify-content: column;
    width: auto;
    height: auto;
    border: 5px solid #0d0d0d;
    border-radius: 20px;
    padding-left: 25px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 3s ease;
}

#competences.visible {
    opacity: 1;
}

.devimage {
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

#carouselprojets {
    display: flex;
    justify-content: top;
    width: 700px;
    height: 300px;
    border: 5px solid black;
    background-color: rgba(0,0,0,0.5);
    margin: 250px;
    opacity: 0;
}

#carouselprojets.visible {
    opacity: 1;
    transition: opacity 3s ease-out;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
}

}


